codeparty3d.andrescortes.dev {
    handle /socket.io/* {
        reverse_proxy backend:3000
    }
    handle /salas/* {
        reverse_proxy backend:3000
    }
    handle /salas {
        reverse_proxy backend:3000
    }
    handle /ai/* {
        reverse_proxy backend:3000
    }
    handle {
        reverse_proxy frontend:4200
    }
}

:80 {
    handle /socket.io/* {
        reverse_proxy backend:3000
    }
    handle /salas/* {
        reverse_proxy backend:3000
    }
    handle /salas {
        reverse_proxy backend:3000
    }
    handle /ai/* {
        reverse_proxy backend:3000
    }
    handle {
        reverse_proxy frontend:4200
    }
}
